body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
}

.header {
    display: inline-block;
    animation: jump 0.5s alternate infinite;
    
    
}

@keyframes jump {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-15px);
    }
    
}



.container-1 {
    height: 300px;
    
    
    
    
    
}

.container-2 {
    
    
}

.project {
    margin: auto;
}

td {
    border: 30px solid white;
    background-color: rgb(41, 232, 216);
    height: 100px;
    padding-bottom: 100px;
    
    background-size: contain;
    
}

#one {
    background-image: url("images/loan-applicants.jpeg");
}

#two {
    background-image: url("images/credit_fraud.jpeg");
}









.container-3 {
    height: 300px;
   
    
    
}

#contactme {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

